


.fa-chevron-right {
    padding-left: 5px;
    color: #e95130;
    font-size: 14px;
}

.fa-chevron-down {
    padding-left: 5px;
    color: #e95130;
}




.fa-home, .fa-envelope-o, .fa-sign-out {
    color: #e95130;
}
