@charset "UTF-8";
/* CSS Document */

div{
 	-webkit-box-sizing: border-box; 
 	-moz-box-sizing: border-box;    
 	box-sizing: border-box;  
	transition:  0s ease-out; 
}

@keyframes move {
  100% {
     transform: translate;
  }
}

html{
 height:100%;
 min-height:100%;
 }
body{
 min-height:100%;
 }


body		{	background:#ffffff;font-family:'latolight';font-size:14px;color:#333333;height:100%;
line-height:20px;margin: 0px;-webkit-text-size-adjust: 100%;-webkit-font-smoothing: subpixel-antialiased;}


/* --------------- global styles ---------------*/

.pointer		{cursor:pointer}

.floatl			{float:left}
.floatr			{float:right}

.block		{	display:inline-block;vertical-align:top }
.block90	{	width:90%;display:inline-block;vertical-align:top }

.col-26 {width: 26%;}
.col-26b {width: 26%;padding-right:30px;}
.col-74 {width: 74%;}
.col-74b {width: 74%;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-6enq {width: 50%;padding:0px 5px;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-20 {width: 20%;}
.col-30 {width: 30%;}
.col-70 {width: 70%;}

a {transition:.3s ease-out;}



a:link {text-decoration:none;}
a:link.lnkmenu { text-decoration:none; color:#ffffff }

a:visited { text-decoration:none;}
a:visited.lnkmenu { text-decoration:none; color:#ffffff }

a:hover { text-decoration:none;}
a:hover.lnkmenu { text-decoration:none; color:#eeeeee }


.spacer1	{display:block;width:100%;height:1px;}
.spacer2	{display:block;width:100%;height:2px;}
.spacer3	{display:block;width:100%;height:3px;}
.spacer4	{display:block;width:100%;height:4px;}
.spacer5	{display:block;width:100%;height:5px;}
.spacer6	{display:block;width:100%;height:6px;}
.spacer7	{display:block;width:100%;height:7px;}
.spacer8	{display:block;width:100%;height:8px;}
.spacer9	{display:block;width:100%;height:9px;}

.spacer10	{display:block;width:100%;height:10px;}
.spacer15	{display:block;width:100%;height:15px;}
.spacer20	{display:block;width:100%;height:20px;}
.spacer25	{display:block;width:100%;height:25px;}
.spacer30	{display:block;width:100%;height:30px;}
.spacer35	{display:block;width:100%;height:35px;}
.spacer40	{display:block;width:100%;height:40px;}
.spacer45	{display:block;width:100%;height:45px;}
.spacer50	{display:block;width:100%;height:50px;}
.spacer60	{display:block;width:100%;height:60px;}
.spacer70	{display:block;width:100%;height:70px;}
.spacer80	{display:block;width:100%;height:80px;}
.spacer90	{display:block;width:100%;height:90px;}
.spacer100	{display:block;width:100%;height:100px;}

.size9{ font-size: 9px; }
.size10{ font-size: 10px; }
.size11{ font-size: 11px; }
.size12{ font-size: 12px; }
.size13{ font-size: 13px; }
.size14{ font-size: 14px; }
.size15{ font-size: 15px; }
.size16{ font-size: 16px; }
.size17{ font-size: 17px; }
.size18{ font-size: 18px; }
.size19{ font-size: 19px; }
.size20{ font-size: 20px; }
.size22{ font-size: 22px; }
.size24{ font-size: 24px; }
.size26{ font-size: 26px; }
.size28{ font-size: 28px; }
.size30{ font-size: 30px; }
.size32{ font-size: 32px; }
.size34{ font-size: 34px; }
.size35{ font-size: 35px; }
.size36{ font-size: 36px; }
.size37{ font-size: 37px; }
.size38{ font-size: 38px; }
.size40{ font-size: 40px; }
.size44{ font-size: 44px; }
.size48{ font-size: 48px; }
.size49{ font-size: 49px; }
.size50{ font-size: 50px; }
.size52{ font-size: 52px; }
.size54{ font-size: 54px; }
.size55{ font-size: 55px; }
.size60{ font-size: 60px; }
.size72{ font-size: 72px; }
.size73{ font-size: 73px; }
.size74{ font-size: 74px; }
.size78{ font-size: 78px; }
.size80{ font-size: 80px; }
.size90{ font-size: 90px; }
.size98{ font-size: 98px; }
.size90{ font-size: 90px; }

.lineheight07{ line-height: 7px; }
.lineheight08{ line-height: 8px; }
.lineheight09{ line-height: 9px; }
.lineheight10{ line-height: 10px; }
.lineheight12{ line-height: 12px; }
.lineheight14{ line-height: 14px; }
.lineheight15{ line-height: 15px; }
.lineheight16{ line-height: 16px; }
.lineheight17{ line-height: 17px; }
.lineheight18{ line-height: 18px; }
.lineheight19{ line-height: 19px; }
.lineheight20{ line-height: 20px; }
.lineheight22{ line-height: 22px; }
.lineheight24{ line-height: 24px; }
.lineheight26{ line-height: 26px; }
.lineheight28{ line-height: 28px; }
.lineheight30{ line-height: 30px; }
.lineheight32{ line-height: 32px; }
.lineheight36{ line-height: 36px; }
.lineheight38{ line-height: 38px; }
.lineheight40{ line-height: 40px; }
.lineheight44{ line-height: 44px; }
.lineheight45{ line-height: 45px; }
.lineheight46{ line-height: 46px; }
.lineheight47{ line-height: 47px; }
.lineheight48{ line-height: 48px; }
.lineheight52{ line-height: 52px; }
.lineheight56{ line-height: 56px; }
.lineheight60{ line-height: 60px; }

.letter-spacing5{ letter-spacing: 0.05em; }
.letter-spacing4{ letter-spacing: 0.04em; }
.letter-spacing3{ letter-spacing: 0.03em; }
.letter-spacing2{ letter-spacing: 0.02em; }
.letter-spacing1{ letter-spacing: 0.01em; }
.letter-spacing-5{ letter-spacing: -0.05em; }
.letter-spacing-4{ letter-spacing: -0.04em; }
.letter-spacing-3{ letter-spacing: -0.03em; }
.letter-spacing-2{ letter-spacing: -0.02em; }
.letter-spacing-1{ letter-spacing: -0.01em; }
.letter-spacing-0{ letter-spacing: 0.00em; }



.hidden {
    display: none;
}

#subscribeform {
    opacity: 0;
}