.dotted_line {
    border: 0;
    border-bottom: 1px dotted #ddd;
}

.faAction {
    font-size: 70px;
    color: #fbab92;
}

.faView {
    font-size: 56px;
    color: #ccc
}

.faActionText {
    color: #666;
    font-size: 16px;
}

.faViewText {
    color: #666;
    font-size: 10px;
}

.separator {
    content: '';
    display: inline-block;
    background: #888;
    margin: 0px 30px;
    height: 80px;
    width: 0px;
    vertical-align: top;
    border-left: 1px dashed;
    border-color: #ddd;
}

.comments-container {
    margin: 60px auto 15px;
    width: 700px;
}

    .comments-container h1 {
        font-size: 36px;
        color: #283035;
        font-weight: 400;
    }

        .comments-container h1 a {
            font-size: 18px;
            font-weight: 700;
        }

.comments-list {
    margin-top: 30px;
    position: relative;
}

    .comments-list li {
        margin-bottom: 15px;
        display: block;
        position: relative;
    }

        .comments-list li:after {
            content: '';
            display: block;
            clear: both;
            height: 0;
            width: 0;
        }

    .comments-list .comment-avatar {
        width: 90px;
        height: 90px;
        position: relative;
        z-index: 99;
        float: left;
        border: 3px solid #FFF;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        overflow: hidden;
    }

        .comments-list .comment-avatar img {
            width: 100%;
            height: 100%;
        }


    .comments-list .comment-box {
        width: 500px;
        float: right;
        position: relative;
    }



.comment-box .comment-head {
    padding: 10px 12px;
    overflow: hidden;
}

    .comment-box .comment-head i {
        margin-left: 0px;
        position: relative;
        top: 2px;
        color: #fbab92;
        cursor: pointer;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }

        .comment-box .comment-head i:hover {
            color: #03658c;
        }

.comment-box .comment-name {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-date {
    color: #ccc;
    font-size: 16px;
    
    float: left;
    margin-right: 10px;
}

    .comment-box .comment-name a {
        color: #333;
    }

.comment-box .comment-like 
{
    float:right;
    color: #ccc;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {
    color: #03658c;
}

    .comment-box .comment-name.by-author:after {
        content: 'autor';
        background: #03658c;
        color: #FFF;
        font-size: 12px;
        padding: 3px 5px;
        font-weight: 700;
        margin-left: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }


.block-lg {
    padding: 0px;
}

@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }
}
